
<section id="main">
  <div class="main clear">
    <div class="post-content">
      <h1 class="post-page-title"><%- page.title %></h1>
      <%- page.content %>
    </div>
    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://hcysunyang.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
  </div>
</section>
<div class="sidebar-content">
  <h2>Social Links</h2>
  <div class="sidebar-img-panel">
    <a href="https://github.com/HcySunYang" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="http://weibo.com/5316956357" target="_blank">
      <i class="fa fa-weibo" aria-hidden="true"></i>
    </a>
    <a href="https://www.zhihu.com/people/huo-chun-yang-77" target="_blank" class="zhihu-fa">
      知
    </a>
    <a href="https://twitter.com/HcySunYang" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </div>
  <h2 class="toc-h2">目录</h2>
  <div class="toc-wrap">
    <%- toc(page.content) %>
  </div>
</div>
