@import './reset';
@import './mixin';
@import './var';
@import './mark';
@import './sidebar';
html {
  height: 100%;
}
html, body, #container, #wrap {
  min-height: 100%;
  position: relative;
}

// 头部样式
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @headerHeight;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  z-index: 1000;

  .header-content {
    background: #fff;
    position: relative;
    z-index: 2;
  }
  #logo-wrap {
    float: left;
    margin-left: 70px;
    height: 100%;
    line-height: @headerHeight;
    img {
      width: 50px;
      border-radius: 10px;
      box-shadow: 0 0 5px #ccc;
      margin-top: 10px;
    }
    .title {
      font-size: 32px;
      color: @headerFontColor;
      margin-left: 20px;
    }
  }

  .main-nav {
    float: left;
    margin-left: 80px;
    a {
      float: left;
      height: @headerHeight;
      line-height: @headerHeight;
      font-size: 20px;
      margin-right: 25px;
      color: @headerFontColor;
    }
  }

  .search-box {
    float: right;
    margin-right: 60px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    transform: scale(1);
    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &:hover {
      transition: .3s;
      transform: scale(1.2);
    }
  }

  .search-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
    transform: translateY(-100%);
    background-color: #fff;
    transition: 0.5s;
    &.active {
      transform: translateY(@headerHeight);
    }
    .search-input-el {
      margin-left: 70px;
    }
    .search-input-el input[type=search]{
      display: block;
      height: 65px;
      border: 1px solid #fff;
      font-size: 65px;
    }
    input[type=search]::-webkit-input-placeholder{
      color:#d3d5cf;
      font-family: 'Georgia', Helvetica;
    }
  }

  .sm-nav-bar, .sm-nav, .sm-nav-toc {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  #header {
    height: @smHeaderHeight;
    #logo-wrap {
      margin-left: @smHeaderHeight / 2;
      line-height: @smHeaderHeight;
      img {
        width: 30px;
        margin-top: (@smHeaderHeight - 30px) / 2;
      }
      .title {
        font-size: 18px;
      }
    }

    .main-nav, .search-input, .search-box {
      display: none;
    }

    .sm-nav-bar {
      height: @smHeaderHeight;
      line-height: @smHeaderHeight;
      display: block;
      float: right;
      font-size: 30px;
      margin-right: @smHeaderHeight / 2;
    }
    .sm-nav {
      display: block;
      transform: translateY(-100%);
      transition: 0.5s;
      box-shadow: 0 0 5px #ccc;
      background-color: #fff;
      &.active {
        transform: translateY(0);
      }
      a {
        display: block;
        height: @smHeaderHeight;
        line-height: @smHeaderHeight;
        font-size: 14px;
        text-align: center;
        color: @headerFontColor;
        border-top: 1px dotted #eee8d3;
        &:last-of-type {
          border-bottom: 1px dotted #eee8d3;
        }
      }
      form {
        padding: 5px 20px;
      }
      .sm-search-input-el-input {
        height: 30px;
        display: block;
        width: 100%;
        text-align: center;
        border: 1px solid #eaeaea;
        border-radius: 4px;
      }
    }
  }
}
@media screen and (max-width: 840px) {
  #header {
    .sm-nav-toc {
      display: block;
      float: right;
      height: @smHeaderHeight;
      line-height: @smHeaderHeight;
      margin-right: 20px;
      color: @headerFontColor;
    }
  }
}

// index.ejs 首页样式
#main {
  // width: @contentWidth + 70px;
  width: 67%;
  float: left;
  @media screen and (max-width: 840px) {
    width: 100%;
    float: none;
  }
}
.main {
  padding-top: @headerHeight + 18px;
  padding-bottom: @headerHeight;
  .index-content {
    margin-left: 70px;
  }
  .post-item {
    display: flex;
    height: 34px;
    padding: 10px 0;
    transition: 0.5s;
    &:hover {
      transform: skew(-10deg);
      transform-origin: 0 50%;
      box-shadow: 0 0 5px #ccc;
    }
  }
  .post-date {
    flex: 1;
    font-size: 15px;
    // width: 6.51%;
    color: @pink;
    // float: left;
    line-height: 34px;
    margin-right: 28px;
    position: relative;
    padding-left: 20px;
    &:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: @pink;
      top: 50%;
      left: 0;
      margin-top: -5px;
    }
  }
  @media screen and (max-width: 1270px) {
    .post-date {
      flex: 1.5;
    }
  }
  @media screen and (max-width: 960px) {
    .post-date {
      flex: 2;
    }
  }
  @media screen and (max-width: 550px) {
    .post-date {
      flex: 3;
      margin-right: 5px;
      font-size: 12px;
    }
  }
  .post-title {
    // float: left;
    flex: 8;
    max-width: 680px;
    font-size: 24px;
    color: @headerFontColor;
    line-height: 34px;
    margin-right: 25px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
  }
  .post-monment {
    float: left;
    font-size: 15px;
    color: #35e2eb;
    line-height: 34px;
  }
}
@media screen and (max-width: 860px) {
  .main {
    padding-bottom: 40px;
    .index-content {
      margin-left: 40px;
    }
    .post-title {
      font-size: 20px;
    }
    .post-date {

    }
  }
}
@media screen and (max-width: 860px) {
  .main {
    .index-content {
      margin-right: 40px;
    }
  }
}
@media screen and (max-width: 550px) {
  .main {
    .index-content {
      margin-left: 20px;
      margin-right: 20px;
    }
    .post-title {
      font-size: 16px;
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 320px) {
  .main {
    .index-content {
      margin-left: 10px;
      margin-right: 10px;
    }
    .post-title {
      font-size: 14px;
      margin-right: 0;
    }
  }
}

// post.ejs 样式
.post-content {
  // width: @contentWidth;
  // float: left;
  margin-left: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (max-width: 840px) {
    margin: 0 40px;
  }
  @media screen and (max-width: 420px) {
    padding-top: 0;
    margin: 0 20px;
  }
  .post-page-title {
    color: @headerFontColor;
    font-size: 34px;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 420px) {
    .post-page-title {
      font-size: 26px;
      margin-bottom: 20px;
    }
  }
  h2 {
    font-size: 36px;
    color: @headerFontColor;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee8d3;
    margin-top: 40px;
  }
  @media screen and (max-width: 420px) {
    h2 {
      font-size: 22px;
    }
  }
  h3 {
    position: relative;
    font-size: 24px;
    color: @headerFontColor;
    padding-left: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #eee8d3;
    margin-top: 30px;
    margin-bottom: 30px;
    &:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: @headerFontColor;
      top: 50%;
      left: 0;
      margin-top: -12px;
    }
  }
  @media screen and (max-width: 420px) {
    h3 {
      font-size: 20px;
    }
  }
  p {
    line-height: 28px;
    font-size: 18px;
    color: @contentColor;
    margin-top: 16px;
  }
  @media screen and (max-width: 420px) {
    p {
      font-size: 14px;
    }
  }
  a {
    color: @headerFontColor;
    text-decoration: underline;
  }
  img {
    max-width: 100%;
  }
  pre {
    margin: 20px 0;
  }
  blockquote {
    padding: 15px 20px;
    margin-top: 10px;
    border-left: 5px solid @headerFontColor;
    background: #fff;
    margin-left: 0;
    margin-right: 0;
    p {
      margin: 0;
    }
  }
  p code {
    padding: 1px 3px;
    margin: 0 3px;
    color: #bd10e0;
    border-radius: 4px;
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    word-wrap: break-word;
    font-size: 14px;
  }
}

// code 样式
.hljs {
  background-color: transparent;
  padding: 1em;
}
code {
  font-size: 15px;
  border: 1px solid #eee8d5;
}

// 页码样式
.paginator-wrap {
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-number, .extend {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 1px solid #ddd;
  margin-right: 15px;
  color: #a9a9a9;
  line-height: 44px;
  text-align: center;
  font-size: 24px;
  &.current, &:hover {
    color: #fff;
    background-color: #6866d4;
    border-color: #6866d4;
  }
}
@media screen and (max-width: 840px) {
  .paginator-wrap {
    margin-left: 0;
    text-align: center;
  }
}

// 评论样式
#disqus_thread {
  margin-left: 70px;
}
@media screen and (max-width: 840px) {
  #disqus_thread {
    margin: 0 40px;
  }
}

// 页脚样式
#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color: #fff;
  background: #2b2b2b;
}